@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Quintessential&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Quintessential', cursive; */

/* Style For Login Page   */
.get-user-info{
    color: green;
    font-weight: bold;
    cursor: pointer;
}
.wrong-alert{
    color: red;
    text-align: center;
    font-weight: bold;
}

/* Style for Main Banking Calculation system page  */
.bank-title{
    font-family: 'Quintessential', cursive;
}
.acc-status .grid{
    cursor: pointer;
}
.fa-money-bill-wave{
    color: green;
}
.amount{
    font-family: 'Dancing Script', cursive;
}
.update-status button:hover{
    background-color: #582a04;
    transform: translateY(-4px);
    transition: transform, 0.5s;
}
#logout-btn:hover{
    background-color: rgb(2, 2, 54);
    transform: translateY(-4px);
}