@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Quintessential&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Quintessential', cursive; */

/* Style For Login Page   */
.user-login-title{
    font-family: 'Quintessential', cursive;
}
.login-section label{
    cursor: pointer;
    width: 85%;
    font-size: 1.2em;
}
.login-section button:hover{
    background-color: #582a04;
    border: transparent;
}
.get-user-info{
    color: green;
    font-weight: bold;
    cursor: pointer;
}
.user-info{
    background: linear-gradient(120deg, #6c5ce7, #1e90ff);
}
.user-info p{
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.user-info p::selection{
    color: whitesmoke;
    background: black;
}
.wrong-alert{
    color: #dfe6e9;
    text-align: center;
    font-weight: bold;
}

/* Style for Main Banking Calculation system page  */
.bank-title{
    font-family: 'Quintessential', cursive;
}
.acc-status .grid{
    cursor: pointer;
}
.fa-money-bill-wave{
    color: green;
}
.amount{
    font-family: 'Dancing Script', cursive;
}
.update-status button:hover{
    background-color: #582a04;
    transform: translateY(-4px);
    transition: transform, 0.5s;
}
#logout-btn:hover{
    background-color: rgb(2, 2, 54);
    transform: translateY(-4px);
}